@media only screen and (max-width: 992px) {
  .textWelcome {
    font-size: 40px;
  }
  .adminContainer {
    width: 80%;
  }
  .adminPanelLogo img {
    width: 200px;
  }
  #contactUsContainerForDesctop {
    display: none;
  }
  #contactUsContainerForMobile {
    display: block !important;
  }
  .nameAdress {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .adminPanelLeft {
    display: none !important;
  }
  .adminTitleLogo {
    display: none;
  }
  .searchTips :not(div.loadingContainer) img {
    display: none;
  }
  .responsiveLeftLogo {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 11px 29px 40.21px 13px;
  }
  .bookLogoContainer {
    cursor: pointer;
  }
  .textAddBook h2,
  .textAboutStore h2 {
    margin-bottom: 6px;
    font-size: 25px;
  }
  .textSearchBook {
    font-size: 16px;
    margin-bottom: 23px;
  }
  .searchInput {
    padding: 11px 0 11px 53px;
    margin-right: 9px;
    width: 80%;
  }
  .search {
    width: 38px;
    height: 32px;
    border-radius: 5px;
  }
  .searchTips {
    width: 80%;
    padding: 26px 29px 26px 29px;
  }
  .searchTips div:last-child p {
    margin-bottom: 0;
  }
  .addBooks {
    margin-bottom: 47px;
  }
  .bookFormContainer {
    margin-bottom: 178px;
    width: 94%;
  }
  .panelRight {
    padding-left: 16px;
  }
  .formContainer,
  .storeContainer {
    padding: 24px 0 0 0;
  }
  .aboutStoreContainer {
    margin-bottom: 143px;
    width: 94%;
  }
  .joinUsContainer {
    margin-bottom: 180px;
  }
  .textJoinUs,
  .textContactUs {
    margin-bottom: 25px;
    font-size: 25px;
  }
  .tableContainer {
    width: 94%;
  }
  .tableContainer table {
    font-size: 12px;
  }
  .adminPanelLogo {
    padding: 14.62px 27px 71.85px 11.51px;
  }
  .closeLogo {
    padding: 28px 7px 0 0;
  }
  .adminPanelLogo img {
    width: 177px;
  }
  .closeLogo img {
    width: 25px;
  }
}
