/* Animation */
@keyframes adminButtonAnime {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.98, 0.98);
  }
}

@keyframes adminAddButtonAnime {
  from {
    transform: scale(1, 1);
    background-color: var(--inputColor);
  }
  to {
    transform: scale(0.98, 0.98);
    background-color: #683202;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 4px 4px 10px 10px #e5e5e5;
}
::-webkit-scrollbar-thumb {
  background-color: var(--adminMainbgColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #5c0414;
}

/* For general use */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.adminMainbgColor {
  background-color: var(--adminMainbgColor);
}
.flex-center {
  display: flex;
  justify-content: center;
}
.fontMontSerrat {
  font-family: var(--montSerrat);
}
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
/*For special use*/
.stickyContainer {
  height: 710px;
  position: sticky;
  top: 0;
  left: 0;
}
.editLogo {
  padding: 74.96px 0 0 35px;
  margin-bottom: 160px;
}
.welcomeAdmin {
  margin: 69px 0 17.78px 0;
}
.textWelcome {
  font-size: 44px;
}
.inputContainer div input {
  border: 1px solid #cecece;
  width: 80%;
  padding: 18px 0 18px 50px;
}
.inputContainer div:first-child input {
  margin-bottom: 34px;
}
.inputContainer div:last-child input {
  margin-bottom: 70px;
}
.signIn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.signIn button {
  background-color: #e16a00;
  width: 80%;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 14px 0 14px 0;
}
.signIn button:hover {
  background-color: #fd7600;
  animation: adminButtonAnime 2s linear 0s infinite alternate;
}
.adminContainer {
  margin-bottom: 280px;
  width: 50%;
}
.join-success,
.join-error {
  width: 80%;
}
.adminPanelLogo {
  padding: 74px 37px 54px 35px;
}
.menuContainer ul li {
  margin-bottom: 34px;
}
.menuContainer ul li img {
  margin-right: 13px;
}
.menuContainer ul li a {
  font-family: var(--montSerrat);
  font-weight: 400;
  color: #fff;
}
.adminTitleLogo {
  display: flex;
  justify-content: flex-end;
  margin: 48px 58px 48px 0;
}
.panelRight {
  padding-left: 32px;
}
.textAddBook {
  font-family: var(--montSerrat);
  font-weight: 600;
  font-size: 30px;
  color: #333333;
  margin-bottom: 26px;
}
.textAddBook h2,
.textSearchBook,
.textAboutStore h2 {
  font-family: var(--montSerrat);
  font-weight: 600;
  font-size: 30px;
  color: #333333;
}
.textAddBook {
  margin-bottom: 26px;
}
.textSearchBook {
  font-size: 18px;
  margin-bottom: 6px;
}
.searchInput {
  padding: 9px 0 10px 33px;
  border-radius: 34px;
  border: 2px solid rgba(57, 31, 0, 0.48);
  width: 30%;
  margin-right: 7px;
}
.search {
  width: 63px;
  height: 40px;
  border-radius: 34px;
  background-color: var(--inputColor);
  border: none;
}
.searchTips {
  width: 30%;
  background-color: #f1f0f0;
  border-radius: 35px;
}
.searchTips div img {
  margin: 20px 24px 17.25px 36px;
}
.searchTips div p {
  font-family: "Preahvihear", sans-serif;
  font-size: 14px;
  color: #bcbcbc;
}
.addBooks {
  margin-bottom: 80px;
}
.bookFormContainer,
.aboutStoreContainer {
  margin-bottom: 160px;
  font-family: var(--fontRoboto);
  font-weight: 400;
  width: 88%;
}
.textBookForm h2 {
  font-family: var(--montSerrat);
  font-size: 18px;
  color: #333333;
}
.formContainer,
.storeContainer {
  padding: 16px 30px 29px 30px;
}
.formContainer label,
.storeContainer {
  font-size: 16px;
  margin-bottom: 10px;
  color: #030102;
}
.formContainer input,
.formContainer textarea,
.storeContainer input,
.storeContainer textarea {
  font-size: 16px;
  padding: 10.5px 12px 10.5px 12px;
  border: 1px solid #e2e6ee;
  box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
  border-radius: 10px;
  color: #030102;
  margin-bottom: 24px;
  width: 100%;
}
.formContainer textarea,
.storeContainer textarea {
  font-family: var(--montSerrat);
  font-weight: 500;
}
.addButton,
.aboutStoreButton {
  background-color: var(--inputColor);
  color: #fff;
  font-size: 14px;
}
.addButton:hover,
.aboutStoreButton:hover {
  color: #fff;
  animation: adminAddButtonAnime 1s linear 0s infinite alternate;
}
.aboutStoreContainer {
  margin-bottom: 136px;
}
.joinUsContainer {
  margin-bottom: 154px;
  width: 50%;
}
.textJoinUs,
.textContactUs {
  margin-bottom: 5px;
  font: 600 30px var(--montSerrat);
  color: #333333;
}
.textContactUs {
  margin-bottom: 10px;
}
.contactUsContainer {
  margin-bottom: 200px;
}
.contactUsContainer table td,
.contactUsContainer table th {
  padding: 12px 20px 12px 20px;
}
